:root {
  --color-primario: #0054a6;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 84, 166, 0.85), rgba(0, 84, 166, 0.85)), url('../img/banner-valpo.jpg') center/cover no-repeat;
}

.navbar .nav-link {
  font-weight: 500;
  color: #004080;
}

.navbar .nav-link:hover {
  color: var(--color-primario);
}

footer {
  font-size: 0.9rem;
}
